.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}